---
layout: default
---

<div class="jumbotron text-center">
  <h1><img src="images\logo-hmm.png" width="200" height="200"></h1> 
  <p>Himpunan Mahasiswa Manajemen</p>
  <p>Universitas Pamulang</p> 
  <p>Alright!</p>
</div>

<!-- Container (About Section) -->
<div id="tentang" class="container-fluid">
      <h2>Sekilas Tentang HMM-UNPAM</h2><br>
      <p>Himpunan Mahasiswa Manajemen Universitas Pamulang dapat di singkat HMM-UNPAM merupakan organisasi internal kampus Universitas Pamulang yang di prioritaskan Mahasiswa Program Studi Manajemen.</p>
      <p>HMM-UNPAM mulanya didirikan atas inisiatif sekelompok Mahasiswa Program Studi Manajemen yang peduli terhadap perkembangan kampus saat itu. 
        Himpunan Mahasiswa Manajemen sebelum diresmikan mempunyai nama asli yaitu COMMENT yang mempunyai kepanjangan dari Community Of Management.
        HMM-UNPAM diresmikan pada 6 Juni 2006.</p>
      <br><a type="button" class="btn btn-default" target="_blank" href="{{site.baseurl}}/tentang/">Lebih lanjut</a>
      <div id="sekilashmm" class="collapse ">
        <p>Selama selang waktu 11 tahun HMM-UNPAM telah delapan kali berganti kepemimpinan diantaranya yaitu:
          <ol>
            <li>Periode 2008 - 2010
              <br>Ketua Umum : Dadang Suryana, S.E.
              <br>Wakil Ketua Umum : Yudit, S.E.
            </li>
            <li>Periode 2011 - 2012
              <br>Ketua Umum : Aden Prawiro, S.E.
              <br>Wakil Ketua Umum : Heri Irawan, S.E.
            </li>
            <li>Periode 2012 - 2013
              <br>Ketua Umum : Abdul Majid, S.E.
              <br>Wakil Ketua Umum : Tarmidji, S.E.
            </li>
            <li>Periode 2013 - 2014
              <br>Ketua Umum : Andri Priadi, S.E.
              <br>Wakil Ketua Umum : Muhammad Zuber Qomaruddin, S.E.
            </li>
            <li>Periode 2014 - 2015
              <br>Ketua Umum : Muhammad Zuber Qomaruddin, S.E.
              <br>Wakil Ketua Umum : Foppy Wulansari
            </li>
            <li>Periode 2015 - 2016
              <br>Ketua Umum : Aditya Bayu Wardana
              <br>Wakil Ketua Umum : Fatricia Fransisca
            </li>
            <li>Periode 2016 - 2017
              <br>Ketua Umum : Aan Widya Junianto
              <br>Wakil Ketua Umum : Muhammad Ridwan
            </li>
            <li>Periode 2017 - 2018<br>Ketua Umum : Malik Abdul Aziz
              <br>Wakil Ketua Umum : Guntur Wijaya Putra</li>
          </ol>
          </p>
  </div>
</div>

<div class="home">
 
  
    <div class="row pack">

        {% for post in paginator.posts %}   
            <div class="col-md-4 card">
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel panel-default">
                  
                  {% if post.img %}
                  <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/images/logo-hmm.png" alt="{{site.title}}">
                  {% endif %}
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  
                  <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</small>
                    Read
                  </div>
                </div>
                </a>
            </div>
        
          {% endfor %}

    </div> 
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>